.h1h2 {
    background-image: url(photo/personne.jpg);
    background-size: 100%;
    height: 550px;
}

.abonnements {
    background-color: blue;
    color: white;
    width: 400px;
    height: 200px;
}

.corps {
    display: flex;
    justify-content: center;
}

.corps div {
    margin: 50px;
}

.corps img {
    height: 400px;
    width: 300px;
}

.corps div p {
    text-align: center;
}

.prix {
    color: rgba(255, 72, 0, 0.822);
}

a {
    text-decoration: none;
    text-align: center;
    justify-content: center;
    color: white;
    background-color: black;
}

.container {
    text-decoration: none;
    text-align: center;
    justify-content: center;
    color: white;
    background-color: black;
    width: 250px;
}

.h1h2 {
    background-image: url(photo/personne.jpg);
    background-size: 100%;
    height: 550px;
}

.abonnements {
    background-color: blue;
    color: white;
    width: 400px;
    height: 200px;
}

.corps {
    display: flex;
    justify-content: center;
}

.corps div {
    margin: 50px;
}

.corps img {
    height: 400px;
    width: 300px;
}

.corps div p {
    text-align: center;
}

.prix {
    color: rgba(255, 72, 0, 0.822);
}

a {
    text-decoration: none;
    text-align: center;
    justify-content: center;
    color: white;
    background-color: black;
}

.container {
    text-decoration: none;
    text-align: center;
    justify-content: center;
    color: white;
    background-color: black;
    width: 250px;
}

.liste {}