body{
    color: ;
}
h1
{
    margin-left: 10rem;
}
.premierdivcontact .contactgauche form  h1
{
    
}
.premierdivcontact
{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}
.premierdivcontact .contactdroite
{
  
  background-image: url(imagecontact/R\ \(3\).png);
  padding: 150px;
  margin-top: 100px; 
}
.premierdivcontact .contactdroite li
{
    margin-top: 10px;
    list-style-type: none;
}
.premierdivcontact .contactdroite h3
{
    font-size: 2rem;
    margin-left: 2rem;
}
.premierdivcontact .contactgauche form
{
  margin-top: 7rem;

}
form .corps-formulaire .contactgroupe
{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
form .corps-formulaire .contactgroupe input
{
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 1px solid #c9c9c9;
    outline-color: #747cdf;
    border-radius: 5px;
}
form .corps-formulaire .contactgroupe textarea
{
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid;
    outline-color: #747cdf;
}
form .bouttonmessage button
{
    margin-top: 15px;
    background-color: blue;
    color: white;
    font-size: 15Spx;
    border: none;
    padding: 15px 20px;
    outline: none;
    cursor: pointer;
    transition:  transform 0.5s;
}
form .bouttonmessage button:hover
{
    transform: scale(1.05);
}
li{
    list-style-type: none;
}
.grandivfooter
{
display: flex;
justify-content: space-around;

color: white;
padding: 55px;

}
footer
{
    background-color: rgba(13, 13, 175, 0.842);
    padding-bottom: 1rem;
}
.Troisièmedivfooter li
{
   margin: 1rem;
}
p
{
  text-align: center;
  color: #fff;
  
}
@media screen and (max-width:920px){
    body{margin-left: 0px;}
}
